asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
Django==4.1.10
djangorestframework==3.14.0
djangorestframework-jsonapi==6.0.0
filelock==3.12.2
idna==3.4
inflection==0.5.1
platformdirs==3.10.0
pytz==2023.3
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.2
